@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-6xl md:text-7xl lg:text-8xl font-bold text-center md:text-left mb-12;
    }
    h2 {
        @apply text-5xl md:text-6xl lg:text-7xl font-bold text-left my-10;
    }
    h3 {
        @apply text-4xl md:text-5xl lg:text-6xl font-bold text-left my-8;
    }
    h4 {
        @apply text-3xl md:text-4xl lg:text-5xl font-bold text-left my-6;
    }
}

iframe {
    max-width: 100%;
}
